In [7]:
import pandas as pd

In [9]:
data = []

for i in ["carne.csv", "poblacion.csv", "produccion.csv", "rendimiento.csv"]:
    df = pd.read_csv(i)
    df = pd.melt( df, id_vars=["región","year"],
                    value_vars=["ave","ovino","porcino","vacuno","caprino","alpaca","llama"],
                    value_name=i.split(".")[0],
                    var_name="specie"
                )
    data.append(df)

In [10]:
data[1].shape

(1316, 4)

In [ ]:
keys = set()

for i, d in enumerate(data):
    current = set(zip(d["región"], d["year"], d["specie"]))
    print(f"DF {i} has {len(current)} unique keys")
    
    if i == 0:
        keys = current
    else:
        print("Missing in DF i:", keys - current)
        print("Extra in DF i:", current - keys)
        print("===")
# se coloco LimaP en la tabal de poblacion en algunos años , en el 2018 se coloco M.de Dios

DF 0 has 1337 unique keys
DF 1 has 1316 unique keys
Missing in DF i: {('Lima', 2024, 'ovino'), ('Lima', 2023, 'alpaca'), ('Lima', 2023, 'caprino'), ('Lima', 2024, 'ave'), ('Lima', 2021, 'llama'), ('Lima', 2021, 'porcino'), ('Lima', 2022, 'vacuno'), ('Lima', 2021, 'ovino'), ('Lima', 2023, 'llama'), ('Lima', 2021, 'ave'), ('Lima', 2022, 'alpaca'), ('Lima', 2022, 'caprino'), ('Lima', 2023, 'porcino'), ('Lima', 2024, 'vacuno'), ('Lima', 2023, 'ovino'), ('Lima', 2023, 'ave'), ('Lima', 2024, 'alpaca'), ('Lima', 2024, 'caprino'), ('Lima', 2022, 'llama'), ('Lima', 2022, 'porcino'), ('Lima', 2021, 'vacuno'), ('Lima', 2022, 'ovino'), ('Lima', 2021, 'alpaca'), ('Lima', 2024, 'llama'), ('Lima', 2022, 'ave'), ('Lima', 2021, 'caprino'), ('Lima', 2024, 'porcino'), ('Lima', 2023, 'vacuno')}
Extra in DF i: {('Madre de Dios', 2018, 'ovino'), ('Madre de Dios', 2018, 'caprino'), ('Madre de Dios', 2018, 'alpaca'), ('Madre de Dios', 2018, 'ave'), ('Madre de Dios', 2018, 'llama'), ('Madre de Dios', 2018, 'porcino'), ('Madre de Dios', 2018, 'vacuno')}
===
DF 2 has 1337 unique keys
Missing in DF i: set()
Extra in DF i: set()
===
DF 3 has 1337 unique keys
Missing in DF i: set()
Extra in DF i: set()
===

In [46]:
data = []
# en algunas tablas se coloco LimaP y M.de Dios
for i in ["carne.csv", "poblacion.csv", "produccion.csv", "rendimiento.csv"]:
    df = pd.read_csv(i)
    df["región"] =  df["región"].replace(to_replace=["M.de Dios", "LimaP"], value=["Madre de Dios", "Lima"])
    df = pd.melt( df, id_vars=["región","year"],
                    value_vars=["ave","ovino","porcino","vacuno","caprino","alpaca","llama"],
                    value_name=i.split(".")[0],
                    var_name="specie"
                )
    data.append(df)

In [47]:
keys = set()

for i, d in enumerate(data):
    current = set(zip(d["región"], d["year"], d["specie"]))
    print(f"DF {i} has {len(current)} unique keys")
    
    if i == 0:
        keys = current
    else:
        print("Missing in DF i:", keys - current)
        print("Extra in DF i:", current - keys)
        print("===")

DF 0 has 1344 unique keys
DF 1 has 1344 unique keys
Missing in DF i: set()
Extra in DF i: set()
===
DF 2 has 1344 unique keys
Missing in DF i: set()
Extra in DF i: set()
===
DF 3 has 1344 unique keys
Missing in DF i: set()
Extra in DF i: set()
===

             región  year specie          carne
0            Tumbes  2024    ave     262.910574
1             Piura  2024    ave   31027.129806
2        Lambayeque  2024    ave   25241.836631
3       La Libertad  2024    ave  305189.102963
4         Cajamarca  2024    ave    3438.308384
...             ...   ...    ...            ...
1339           Puno  2017  llama    1529.400800
1340     San Martín  2017  llama       0.000000
1341         Loreto  2017  llama       0.000000
1342        Ucayali  2017  llama       0.000000
1343  Madre de Dios  2017  llama       0.000000

[1344 rows x 4 columns]

In [50]:
for i,d in enumerate(data):
    if i==0:
        df = data[0]
    else:
        df = pd.merge(left=df, right=d, on=["región", "specie", "year"], how="inner")

In [51]:
df.shape

(1344, 7)

In [52]:
df.head()

,región,year,specie,carne,poblacion,produccion,rendimiento
0,Tumbes,2024,ave,262.910574,183726.0,93692.0,2.806108
1,Piura,2024,ave,31027.129806,3987073.0,13984015.0,2.218757
2,Lambayeque,2024,ave,25241.836631,2510903.0,11388007.0,2.216528
3,La Libertad,2024,ave,305189.102963,25756805.0,138011041.0,2.211338
4,Cajamarca,2024,ave,3438.308384,899534.0,1551093.0,2.216700

In [53]:
df.to_csv("data_page1.csv", index=False)