In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
poblacion = pd.read_csv("C-4.csv")

In [17]:
poblacion.head()

,regi칩n,ave,alpaca,llama,caprino,ovino,porcino,vacuno,vacas en orde침o,year
0,Tumbes,183726.0,0,0.0,78919.0,9937.0,30138.0,20364.0,314.333333,2024
1,Piura,3987073.0,118,0.0,323221.0,243119.0,178258.0,258181.0,25670.095351,2024
2,Lambayeque,2510903.0,0,0.0,104933.0,73114.0,70216.0,112932.0,18164.166667,2024
3,La Libertad,25756805.0,7669,0.0,85406.0,368772.0,113846.0,234527.0,58533.250000,2024
4,Cajamarca,899534.0,1206,0.0,104655.0,483612.0,291070.0,662221.0,170496.750000,2024